@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700&display=swap);

:root {
	--font-color: #94959A;
	--white: #ffffff;
	--black: #120D26;
	--pink: #FF7058;
	--black-second:#29253C;
}

/*Reset*/
* {
	padding: 0.00rem;
	margin: 0.00rem;
	border: 0.00rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 20.00rem;
}

body {
	color: var(--font-color);
	line-height: 1.5;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 1.125rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	/*font-family: inherit;*/
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	   object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


/*Common*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.wrapper > main {
	flex: 1 1 auto;
}

.wrapper > * {
	min-width: 0;
}

[class*=__container] {
	max-width: 88.888888vw;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

.text {
	font-size: 1.25rem;
}

@media screen and (max-width: 61.93625rem) {
	.text {
		font-size: 1rem;
	}
}

.button {
	display: inline-flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 1.19rem;
	padding-block: 1.63rem;
	border-radius: 0.94rem;
	font-weight: 500;
	letter-spacing: 0.01em;
	background-color: var(--pink);
	color: var(--white);
	transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
}

.button span {
	font-family: "Poppins";
}

.button:hover {
	box-shadow: 0.00rem 0.00rem 0.50rem 0.31rem rgba(255, 112, 88, 0.5);
	transform: scale(1.1);
}

.main-title {
	font-weight: 700;
	font-size: clamp(2.63rem, 5vw, 4.75rem);
	line-height: 1.25;
	letter-spacing: 0.01em;
	color: var(--black);
}

.title {
	font-weight: 700;
	font-size: clamp(2.00rem, 2.777777vw, 3.00rem);
	letter-spacing: 0.02em;
	color: var(--black);
}

@media screen and (max-width: 61.93625rem) {
	.main-title {
		color: var(--white);
	}
}

/*Header*/
.header {
	position: relative;
}

.header__body {
	justify-content: space-between;
	padding-block: 18.0.31rem 19.0.31rem;
}

.header__body,
.menu__body,
.menu__list {
	display: flex;
	align-items: center;
	letter-spacing: 0.01em;
}

.header__logo {
	font-weight: 700;
	font-size: 3.00rem;
	color: var(--pink);
}

@media screen and (max-width: 47.99875rem) {
	.menu {
		display: none;
	}
}

.menu__body {
	align-items: center;
	gap: 4.166666vw;
}

.menu__list {
	font-weight: 600;
	gap: 3.472222vw;
}

@media screen and (max-width: 61.93625rem) {
	.menu__list {
		font-size: 1rem;
	}
}

@media screen and (max-width: 47.99875rem) {
	.menu__list {
		flex-direction: column;
		margin-bottom: 2.083333vw;
	}
}

.menu__item {
	transition: all 0.3s ease 0s;
}

.menu__item:hover {
	color: var(--black);
	transform: scale(1.1);
}

.menu__authorization {
	font-weight: 600;
	font-size: 1.00rem;
}

@media screen and (max-width: 47.99875rem) {
	.menu__authorization {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.menu__login {
	color: var(--black);
	margin-right: 2.083333vw;
	padding: 0.75rem 1.00rem;
	border-radius: 0.38rem;
	transition: all 0.3s ease 0s;
}

@media screen and (max-width: 47.99875rem) {
	.menu__login {
		margin-right: 0;
		margin-bottom: 2.083333vw;
	}
}

.menu__login:hover {
	color: var(--white);
	background-color: var(--black);
}

.menu__registration {
	color: var(--white);
	background-color: var(--black);
	border-radius: 0.38rem;
	padding: 0.75rem 2.65625rem;
	transition: all 0.3s ease 0s;
}

.menu__registration:hover {
	color: var(--black);
	background-color: var(--white);
}

.burger {
	display: none;
}

@media screen and (max-width: 47.99875rem) {
	.burger {
		display: block;
	}
}

.burger__button {
	width: 1.88rem;
	height: 1.88rem;
	position: relative;
	z-index: 101;
	overflow: hidden;
}

.burger__button span {
	width: 1.88rem;
	height: 0.13rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--black);
	transition: all 0.5s;
}

.burger__button span:nth-of-type(2) {
	top: calc(50% - 0.31rem);
}

.burger__button span:nth-of-type(3) {
	top: calc(50% + 0.31rem);
}

.burger__body {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0.94rem;
	padding-top: 9.38rem;
	background: #FFEFBA;
	transform: translateX(-100%);
	transition: transform 0.5s;
	z-index: 100;
}

.body.active {
	overflow: hidden;
}

.burger__body.active {
	transform: translateX(0);
}

.burger__button.active span:nth-of-type(1) {
	display: none;
}

.burger__button.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}

.burger__button.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

.wrapper {
	position: relative;
}

.shape {
	position: absolute;
	left: 0;
	top: 2%;
	width: min(17.291666vw, 15.56rem);
	fill: rgba(255, 112, 88, 0.05);
}

.shape-2 {
	position: absolute;
	top: 61%;
	right: 0;
	width: min(34.444444vw, 31.00rem);
}

/*Preview*/

@media screen and (max-width: 47.99875rem) {
	.preview {
		position: relative;
		background: url(img/Home/Main/Picture.png) center / cover no-repeat;
	}

	.preview::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
	}
}

.preview__body {
	display: flex;
	justify-content: space-between;
	padding-block: 2.94rem 5.19rem;
}

@media screen and (max-width: 61.93625rem) {
	.preview__body {
		padding-block: 1.69rem 3.94rem;
	}
}

.preview__content {
	width: 40.625vw;
	padding-top: 3.25rem;
	margin-right: 11.458333vw;
	z-index: 2;
}

@media screen and (max-width: 47.99875rem) {
	.preview__content {
		flex: 1 1 auto;
		margin-right: 0;
	}
}

.preview__title {
	margin-bottom: 2.91666vw;
}

.preview__text {
	margin-bottom: 4.027777vw;
}

@media screen and (max-width: 47.99875rem) {
	.preview__text {
		color: var(--white);
	}
}

.preview__offer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.preview__button {
	max-width: 14.38rem;
	width: 100%;
	margin-right: 1.69rem;
	margin-bottom: 0.94rem;
}

.preview__button::before {
	font-size: 0.81rem;
}

.preview__note {
	font-weight: 500;
	font-size: 1.00rem;
	color: var(--pink);
}

.preview__image {
	display: block;
}

@media screen and (max-width: 61.93625rem) {
	.preview__image {
		margin: auto;
	}
}

@media screen and (max-width: 47.99875rem) {
	.preview__image {
		display: none;
	}
}

/*Company*/

.company {
	padding-block: 1.944444vw;
}

.company__title {
	font-weight: 500;
	font-size: 1.38rem;
	margin-bottom: 3.472222vw;
	text-align: center;
}

@media screen and (max-width: 47.99875rem) {
	.company__title {
		font-size: 1.13rem;
	}
}

.company__clients {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.94rem;
}

@media screen and (max-width: 61.93625rem) {
	.company__clients {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 61.93625rem) {
	.company__client {
		flex: 0 1 47%;
	}
}

@media screen and (max-width: 424.6.13rem) {
	.company__client {
			flex: 0 1 100%;
			margin-bottom: 1.56rem;
		}
}

/*Prices*/

.prices__header {
	padding-block: 2.06rem 3.31rem;
	text-align: center;
	background: rgba(255, 112, 88, 0.05);
}

.prices__title {
	margin-bottom: 1.25rem;
}

.card {
	display: flex;
	justify-content: space-between;
	margin-block: 3.00rem 7.19rem;
	padding-bottom: 1.88rem;
	-moz-column-gap: 0.94rem;
	     column-gap: 0.94rem;
}

@media screen and (max-width: 61.93625rem) {
	.card {
		row-gap: 0.94rem;
		-moz-column-gap: 0;
		     column-gap: 0;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 1.88rem;
	}
}

.card__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 24.75rem;
	max-width: 100%;
	padding: 2.31rem 3.25rem 2.19rem;
	box-shadow: 0.00rem 0.63rem 3.44rem rgba(241, 102, 24, 0.15);
	border-radius: 0.94rem;
}

@media screen and (max-width: 61.93625rem) {
	.card__item {
		width: 100%;
		padding: 2.31rem 1.63rem 2.19rem;
	}
}

.card__item:nth-child(1) {
	height: 56.485355%;
}

.card__item:nth-child(2) {
	height: 76.778242%;
}

.card__price {
	font-weight: 700;
	font-size: 2.777777vw;
	color: var(--black);
	margin-bottom: 1.38rem;
}

@media screen and (max-width: 61.93625rem) {
	.card__price {
		font-size: 2.50rem;
	}
}

.card__span {
	font-weight: 400;
	font-size: 1.25vw;
	color: var(--font-color);
}

@media screen and (max-width: 61.93625rem) {
	.card__price {
		font-size: 1.13rem;
	}
}

.card__name {
	font-weight: 600;
	font-size: 2.5vw;
	color: var(--pink);
	margin-bottom: 1.38rem;
}

@media screen and (max-width: 61.93625rem) {
	.card__name {
		font-size: 2.25rem;
	}
}

.card__text {
	margin-bottom: 1.38rem;
}

.card__line {
	border-bottom: 0.13rem solid #f2f2f2;
	margin-bottom: 1.38rem;
}

.card__list {
	flex: 1 1 auto;
	margin-bottom: 1.38rem;
}

.card__option {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 1.388888vw;
	color: var(--black);
}

@media screen and (max-width: 61.93625rem) {
	.card__option {
		font-size: 0.88rem;
	}
}

.card__option span {
	font-family: 'Poppins';
	margin-left: 0.94rem;
}

.card__option:not(:last-child) {
	margin-bottom: 1.81rem;
}

@media screen and (max-width: 61.93625rem) {
	.card__option span {
		margin-left: 0.63rem;
	}
}

.card__option::before {
	background: var(--black);
	border-radius: 50%;
	color: var(--white);
	padding: 0.902777vw 0.694444vw;
	font-size: 0.972222vw;
}

@media screen and (max-width: 61.93625rem) {
	.card__option::before {
		font-size: 0.75rem;
		padding: 0.81rem 0.63rem;
	}
}

.card__button {
	max-width: 100%;
	width: 100%;
	font-size: 1.25vw;
	padding-block: 1.805555vw;
}

@media screen and (max-width: 61.93625rem) {
	.card__button {
		width: 60%;
		font-size: 1.13rem;
	}
}

/*Comments*/

.comments {
	padding-bottom: clamp(5.00rem, 12.638888vw, 13.75rem);
}

.comments__header {
	padding-block: clamp(1.38rem, 1.805555vw, 1.88rem);
	background: rgba(255, 112, 88, 0.05);
	text-align: center;
	margin-bottom: clamp(2.50rem, 3.402777vw, 3.63rem);
}

.comments__cards {
	display: flex;
	justify-content: space-between;
	-moz-column-gap: 0.63rem;
	     column-gap: 0.63rem;
}

@media screen and (max-width: 47.99875rem) {
	.comments__cards {
		-moz-column-gap: 0;
		     column-gap: 0;
		row-gap: 1.25rem;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.comments__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 100%;
	width: 25.00rem;
	row-gap: 1.75rem;
	padding-block: 53.0.06rem;
	padding-inline: 1.25rem;
	box-shadow: 0.00rem 0.63rem 2.50rem rgba(241, 102, 24, 0.15);
	border-radius: 0.94rem;
}

@media screen and (max-width: 47.99875rem) {
	.comments__item {
		width: 100%;
	}
}

.comments__subtitle {
	font-weight: 600;
	font-size: clamp(0.94rem, 1.666666vw, 2.25rem);
	color: var(--black);
}

.comments__text {
	margin-inline: 1.56rem;
	font-size: clamp(0.75rem, 1.25vw, 1.50rem);
}

.rating {
	overflow: hidden;
}

.rating:not(:checked) > input {
	display: none;
}

.rating:not(:checked) > label {
	float: right;
	width: clamp(1.38rem, 1.874305vw, 1.88rem);
	padding: 0;
	cursor: pointer;
	font-size: 2.00rem;
	line-height: 1;
	color: #D0CFD4;
}

.rating__label:not(:first-child) {
	margin-right: 0.277777vw;
}

.rating:not(:checked)>label::before {
	content: '★';
}

.rating > input:checked ~ label {
	color: #FFC042;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: #FFC042;
}

.rating > input:checked + label:hover,
.rating>input:checked+label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
	color: #FFC042;
}

.rating > label:active {
	position: relative;
}

.comments__author {
	font-weight: 500;
	font-size: clamp(0.63rem, 1.041666vw, 1.13rem);
	color: var(--black);
}

/*Info*/

.info {
	padding-block: clamp(5.00rem, 9.097222vw, 9.38rem) clamp(3.13rem, 7.569444vw, 7.81rem);
}


.info__body {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width:61.93625rem) {
	.info__body {
		align-items: center;
		flex-direction: column;
	}
}

.info__content {
	width: clamp(25.00rem, 33.888888vw, 30.00rem);
	margin-right: clamp(1.88rem, 6.458333vw, 5.81rem);
	padding-top: 3.69rem;
}

@media screen and (max-width:61.93625rem) {
	.info__content {
		width: 100%;
		margin-right: 0;
		margin-bottom: 4.38rem;
		padding-top: 0;
	}
}

.info__title {
	font-size: clamp(2.00rem, 2.7vw, 3.00rem);
	margin-bottom: 1.44rem;
}

.info__text {
	margin-bottom: max(4.375vw, 2.06rem);
}

.info__button {
	display: flex;
	width: 14.38rem;
	align-items: center;
}

.info__media {
	position: relative;
	display: flex;
}

@media screen and (max-width:61.93625rem) {
	.info__media {
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.info__col-1 {
	position: relative;
	max-width: 20.63rem;
	margin-right: clamp(2.50rem, 5.486111vw, 5.63rem);
}

@media screen and (max-width:61.93625rem) {
	.info__col-1 {
		margin-right: 0;
		max-width: 100%;
		width: 100%;
	}
}

.info__image:not(:last-child) {
	margin-bottom: 6.736111vw;
}

.info__image {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

@media screen and (max-width:61.93625rem) {
	.info__image {
		width: 100%;
	}
}

.info__image_1,
.info__image_4 {
	width: clamp(15.63rem, 22.916666vw, 25.00rem);
}

@media screen and (max-width:61.93625rem) {
	.info__image_1,
	.info__image_2,
	.info__image_3,
	.info__image_4 {
		width: 100%;
	}
}

.info__image_2 {
	position: relative;
	margin-left: 3.81rem;
	width: clamp(13.75rem, 17.361111vw, 18.75rem);
}

@media screen and (max-width:61.93625rem) {
	.info__image_2 {
		margin-left: 0;
		position: static;
		width: 100%;
	}
}

.--icon-Dots {
	position: relative;
}

@media screen and (max-width:61.93625rem) {
	.--icon-Dots::before {
		display: none;
	}
}

.--icon-Dots::before {
	position: absolute;
	left: 5%;
	bottom: -13%;
	font-size: 7.31rem;
	color: var(--pink);
}

.info__image_3 {
	width: clamp(13.75rem, 20.138888vw, 21.25rem);
}

@media screen and (max-width:61.93625rem) {
	.info__image_3 {
		width: 100%;
	}
}

.info__image_4 {
	position: absolute;
	top: 32.083333vw;
	left: 10%;
}

	@media screen and (max-width:61.93625rem) {
		.info__image_4 {
			position: static;
		}
	}

.info__col-2 {
	position: relative;
	max-width: 18.13rem;
	padding-top: clamp(2.81rem, 5.347222vw, 5.00rem);
}

@media screen and (max-width:61.93625rem) {
	.info__col-2 {
		position: static;
		max-width: 100%;
		width: 100%;
	}
}

/*Banner*/

.banner {
	padding-block: clamp(2.81rem, 7.847222vw, 8.75rem);
	background: rgba(255, 112, 88, 0.05);
}

.banner__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: clamp(1.25rem, 2.638888vw, 2.00rem);
	text-align: center;
	border-radius: 1.56rem;
	padding-block: clamp(3.13rem, 6.666666vw, 7.25rem);
	padding-inline: clamp(3.13rem, 14.513888vw, 14.31rem);
	background-color: var(--pink);
}

.banner__title {
	font-weight: 700;
	font-size: clamp(2.00rem, 2.7vw, 3.00rem);
	color: var(--white);
	letter-spacing: 0.02em;
}

.banner__text {
	color: var(--white);
}

.banner__button {
	background-color: var(--white);
	width: 14.38rem;
	letter-spacing: 0.01em;
	font-weight: 500;
	color: var(--black);
}

/*Footer*/
.footer {
	padding-block: clamp(1.88rem, 4.791666vw, 5.00rem) clamp(2.19rem, 5.694444vw, 5.31rem);
}

.footer__body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: clamp(2.19rem, 6.388888vw, 7.00rem);
	border-bottom: 0.13rem solid #120D26;
}

@media screen and (max-width: 47.99875rem){
	.footer__top {
		flex-direction: column;
	}
}

.footer__links {
	display: flex;
	-moz-column-gap: clamp(1.88rem, 14.375vw, 14.19rem);
	     column-gap: clamp(1.88rem, 14.375vw, 14.19rem);
}

@media screen and (max-width: 47.99875rem) {
	.footer__links {
		margin-bottom: 1.88rem;
		width: 100%;
		-moz-column-gap: 0;
		     column-gap: 0;
		justify-content: space-between;
	}
}

.footer__caption {
	font-weight: 600;
	font-size: clamp(0.94rem, 1.666666vw, 2.25rem);
	color: var(--black);
	margin-bottom: clamp(1.25rem, 2.569444vw, 2.63rem);
}

.footer__list {
	letter-spacing: 0.01em;
	font-weight: 600;
	color: var(--pink);
}

.footer__item:not(:last-child) {
	margin-bottom: clamp(0.88rem, 1.25vw, 1.38rem);
}

.footer__select {
	min-width: 11.88rem;
}

.select {
	position: relative;
	width: 100%;
}

.select__arrow {
	position: absolute;
	right: 0.88rem;
	top: calc(50% - 0.75rem);
	width: 1.50rem;
	height: 1.50rem;
	stroke: var(--pink);
	fill: var(--pink);
	pointer-events: none;
}

.select__sel {
	-webkit-appearance: none;
	width: 100%;
	box-shadow: 0.00rem 0.63rem 1.25rem rgba(241, 102, 24, 0.15);
	border-radius: 0.50rem;
	letter-spacing: 0.01em;
	font-family: 'Poppins';
	font-size: 1.13rem;
	color: var(--black);
	font-weight: 500;
	padding: 0.88rem;
	cursor: pointer;
	outline-color: var(--pink);
	transition: all 0.3s ease 0s;
}

option {
	color: var(--black);
}

.select__sel:hover + .select__arrow {
	stroke: var(--font-color);
	fill: var(--font-color);
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: clamp(1.25rem, 2.777777vw, 3.13rem);
	width: 100%;
}

.footer__copyright {
	font-weight: 600;
	color: var(--black);
	letter-spacing: 0.01em;
	font-size: clamp(1.00rem, 1.25vw, 1.25rem);
}

.social {
	display: flex;
	align-items: center;
}

.social__link {
	transition: transform 0.3s ease 0s;
}

.social__link:hover {
	transform: scale(1.1);
}

.social__link:not(:last-child) {
	padding-right: clamp(1.06rem, 1.805555vw, 1.88rem);
}

.facebook,
.twitter,
.instagram,
.youtube {
	width: 1.50rem;
	height: 1.50rem;
}


/*Pricing page*/

/*Offer*/

.offer {
	padding-block: clamp(1.88rem, 4.166666vw, 4.69rem) clamp(3.75rem, 10.138888vw, 10.63rem);
}

@media screen and (max-width: 61.93625rem) {
	.offer {
		background: url("img/Pricing/Pricing Main.png") center / cover no-repeat;
	}
}

.offer__inner {
	display: flex;
	-moz-column-gap: clamp(3.13rem, 9.375vw, 9.69rem);
	     column-gap: clamp(3.13rem, 9.375vw, 9.69rem);
}

.offer__content {
	padding-block: clamp(1.25rem, 5.902777vw, 6.56rem) clamp(1.25rem, 3.541666vw, 4.06rem);
}

.offer__discount {
	font-weight: 600;
	letter-spacing: 0.01em;
	color: var(--white);
	padding-block: clamp(0.63rem, 0.972222vw, 1.13rem);
	width: 70.3704%;
	background-color: var(--pink);
	border-radius: 0.63rem;
	text-align: center;
	margin-bottom: 0.88rem;
	font-size: clamp(0.88rem, 1.25vw, 1.38rem);
}

.offer__title {
	margin-bottom: 2.13rem;
}

.offer__image img {
	width: clamp(28.13rem, 35.416666vw, 35.63rem);
	border-radius: 0.75rem;
}

@media screen and (max-width: 61.93625rem) {
	.offer__image {
		display: none;
	}
}

/*Help*/

.help {
	margin-bottom: clamp(12.56rem, 27.847222vw, 28.19rem);
}

@media screen and (max-width: 61.93625rem) {
	.help {
		position: relative;
		background: url("img/Pricing/Pricing Help.png") center / cover no-repeat;
		padding-block: 1.25rem;
	}

	.help::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.help__inner {
	position: relative;
	z-index: 5;
}

.help__title {
	padding-right: clamp(6.25rem, 27.430555vw, 25.31rem);
	margin-bottom: clamp(2.56rem, 4.236111vw, 4.44rem);
}

.help__line {
	display: block;
	width: clamp(15.00rem, 20.069444vw, 19.31rem);
	border-bottom: 0.13rem solid #94959A;
	margin-bottom: clamp(2.50rem, 3.472222vw, 4.38rem);
}

.help__text {
	padding-right: clamp(22.19rem, 45.486111vw, 41.88rem);
	margin-bottom: 3.00rem;
}

@media screen and (max-width: 61.93625rem) {
	.help__text,
	.help__title {
		padding-right: 0;
	}
}

.help__button {
	display: flex;
	width: 14.38rem;
	align-items: center;
}

.help__pic {
	float: right;
	width: clamp(28.13rem, 35.347222vw, 35.63rem);
	border-radius: 0.75rem;
	margin-top: -3.81rem;
}

@media screen and (max-width: 61.93625rem) {
	.help__pic {
		display: none;
	}
}

.shape-3 {
	position: absolute;
	right: 0;
	top: 60%;
	width: 25.00rem;
	z-index: -1;
}