@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700&display=swap);

:root {
	--font-color: #94959A;
	--white: #ffffff;
	--black: #120D26;
	--pink: #FF7058;
	--black-second:#29253C;
}

/*Reset*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	color: var(--font-color);
	line-height: 1.5;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 1.125rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	/*font-family: inherit;*/
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	width: 100%;
	height: auto;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


/*Common*/
.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}

.wrapper > main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.wrapper > * {
	min-width: 0;
}

[class*=__container] {
	max-width: 88.888888vw;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

.text {
	font-size: 20px;
}

@media screen and (max-width: 990.98px) {
	.text {
		font-size: 1rem;
	}
}

.button {
	display: inline-flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 19px;
	padding-block: 26px;
	border-radius: 15px;
	font-weight: 500;
	letter-spacing: 0.01em;
	background-color: var(--pink);
	color: var(--white);
	transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
}

.button span {
	font-family: "Poppins";
}

.button:hover {
	box-shadow: 0px 0px 8px 5px rgba(255, 112, 88, 0.5);
	transform: scale(1.1);
}

.title {
	font-weight: 700;
	font-size: clamp(32px, 2.777777vw, 48px);
	letter-spacing: 0.02em;
	color: var(--black);
}

/*Header*/
.header {}

.header__body {
	justify-content: space-between;
	padding-block: 18.5px 19.5px;
}

.header__body,
.menu__body,
.menu__list {
	display: flex;
	align-items: center;
	letter-spacing: 0.01em;
}

.header__logo {
	font-weight: 700;
	font-size: 48px;
	color: var(--pink);
}

@media screen and (max-width: 767.98px) {
	.menu {
		display: none;
	}
}

.menu__body {
	align-items: center;
	gap: 4.166666vw;
}

.menu__list {
	font-weight: 600;
	gap: 3.472222vw;
}

@media screen and (max-width: 990.98px) {
	.menu__list {
		font-size: 1rem;
	}
}

@media screen and (max-width: 767.98px) {
	.menu__list {
		flex-direction: column;
		margin-bottom: 8.333333vw;
	}
}

.menu__item {
	transition: all 0.3s ease 0s;
}

.menu__item:hover {
	color: var(--black);
	transform: scale(1.1);
}

.menu__authorization {
	font-weight: 600;
	font-size: 16px;
}

@media screen and (max-width: 767.98px) {
	.menu__authorization {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.menu__login {
	color: var(--black);
	margin-right: 2.083333vw;
	padding: 12px 16px;
	border-radius: 6px;
	transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767.98px) {
	.menu__login {
		margin-right: 0;
		margin-bottom: 2.083333vw;
	}
}

.menu__login:hover {
	color: var(--white);
	background-color: var(--black);
}

.menu__registration {
	color: var(--white);
	background-color: var(--black);
	border-radius: 6px;
	padding: 12px 42.5px;
	transition: all 0.3s ease 0s;
}

.menu__registration:hover {
	color: var(--black);
	background-color: var(--white);
}

.burger {
	display: none;
}

@media screen and (max-width: 767.98px) {
	.burger {
		display: block;
	}
}

.burger__button {
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 101;
	overflow: hidden;
}

.burger__button span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--black);
	transition: all 0.5s;
}

.burger__button span:nth-of-type(2) {
	top: calc(50% - 5px);
}

.burger__button span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.burger__body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	padding-top: 150px;
	background: #FFEFBA;
	transform: translateX(-100%);
	transition: transform 0.5s;
	z-index: 100;
}

.burger__body.active {
	transform: translateX(0);
}

.burger__button.active span:nth-of-type(1) {
	display: none;
}

.burger__button.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}

.burger__button.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

/*Preview*/

@media screen and (max-width: 767.98px) {
	.preview {
		position: relative;
		background: url(img/Home/Main/Picture.png) center / cover no-repeat;
	}

	.preview::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
	}
}

.preview__body {
	display: flex;
	justify-content: space-between;
	padding-block: 47px 83px;
}

@media screen and (max-width: 990.98px) {
	.preview__body {
		padding-block: 27px 63px;
	}
}

.preview__content {
	width: 40.625vw;
	padding-top: 52px;
	margin-right: 11.458333vw;
	z-index: 2;
}

@media screen and (max-width: 767.98px) {
	.preview__content {
		flex: 1 1 auto;
		margin-right: 0;
	}
}

.preview__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 1.25;
	letter-spacing: 0.01em;
	color: var(--black);
	margin-bottom: 2.91666vw;
}

@media screen and (max-width: 990.98px) {
	.preview__title {
		font-size: 48px;
	}
}

.preview__text {
	margin-bottom: 4.027777vw;
}

@media screen and (max-width: 767.98px) {
	.preview__text {
		color: var(--white);
	}
}

.preview__offer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.preview__button {
	max-width: 230px;
	width: 100%;
	margin-right: 27px;
	margin-bottom: 15px;
}

.preview__button::before {
	font-size: 13px;
}

.preview__note {
	font-weight: 500;
	font-size: 16px;
	color: var(--pink);
}

.preview__image {
	display: block;
}

@media screen and (max-width: 990.98px) {
	.preview__image {
		margin: auto;
	}
}

@media screen and (max-width: 767.98px) {
	.preview__image {
		display: none;
	}
}

/*Company*/

.company {
	padding-block: 1.944444vw;
}

.company__title {
	font-weight: 500;
	font-size: 22px;
	margin-bottom: 3.472222vw;
	text-align: center;
}

@media screen and (max-width: 767.98px) {
	.company__title {
		font-size: 18px;
	}
}

.company__clients {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

@media screen and (max-width: 990.98px) {
	.company__clients {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 990.98px) {
	.company__client {
		flex: 0 1 47%;
	}
}

@media screen and (max-width: 424.98px) {
	.company__client {
			flex: 0 1 100%;
			margin-bottom: 25px;
		}
}

/*Prices*/

.prices__header {
	padding-block: 33px 53px;
	text-align: center;
	background: rgba(255, 112, 88, 0.05);
}

.prices__title {
	margin-bottom: 20px;
}

.card {
	display: flex;
	justify-content: space-between;
	margin-block: 48px 115px;
	padding-bottom: 30px;
	column-gap: 15px;
}

@media screen and (max-width: 990.98px) {
	.card {
		row-gap: 15px;
		column-gap: 0;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
}

.card__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 396px;
	max-width: 100%;
	padding: 37px 52px 35px;
	box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
	border-radius: 15px;
}

@media screen and (max-width: 990.98px) {
	.card__item {
		width: 100%;
		padding: 37px 26px 35px;
	}
}

.card__item:nth-child(1) {
	height: 56.485355%;
}

.card__item:nth-child(2) {
	height: 76.778242%;
}

.card__price {
	font-weight: 700;
	font-size: 2.777777vw;
	color: var(--black);
	margin-bottom: 22px;
}

@media screen and (max-width: 990.98px) {
	.card__price {
		font-size: 40px;
	}
}

.card__span {
	font-weight: 400;
	font-size: 1.25vw;
	color: var(--font-color);
}

@media screen and (max-width: 990.98px) {
	.card__price {
		font-size: 18px;
	}
}

.card__name {
	font-weight: 600;
	font-size: 2.5vw;
	color: var(--pink);
	margin-bottom: 22px;
}

@media screen and (max-width: 990.98px) {
	.card__name {
		font-size: 36px;
	}
}

.card__text {
	margin-bottom: 22px;
}

.card__line {
	border-bottom: 2px solid #f2f2f2;
	margin-bottom: 22px;
}

.card__list {
	flex: 1 1 auto;
	margin-bottom: 22px;
}

.card__option {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 1.388888vw;
	color: var(--black);
}

@media screen and (max-width: 990.98px) {
	.card__option {
		font-size: 14px;
	}
}

.card__option span {
	font-family: 'Poppins';
	margin-left: 15px;
}

.card__option:not(:last-child) {
	margin-bottom: 29px;
}

@media screen and (max-width: 990.98px) {
	.card__option span {
		margin-left: 10px;
	}
}

.card__option::before {
	background: var(--black);
	border-radius: 50%;
	color: var(--white);
	padding: 0.902777vw 0.694444vw;
	font-size: 0.972222vw;
}

@media screen and (max-width: 990.98px) {
	.card__option::before {
		font-size: 12px;
		padding: 13px 10px;
	}
}

.card__button {
	max-width: 100%;
	width: 100%;
	font-size: 1.25vw;
	padding-block: 1.805555vw;
}

@media screen and (max-width: 990.98px) {
	.card__button {
		width: 60%;
		font-size: 18px;
	}
}

/*Comments*/

.comments {
	padding-bottom: clamp(80px, 12.638888vw, 220px);
}

.comments__header {
	padding-block: clamp(22px, 1.805555vw, 30px);
	background: rgba(255, 112, 88, 0.05);
	text-align: center;
	margin-bottom: clamp(40px, 3.402777vw, 58px);
}

.comments__cards {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
}

@media screen and (max-width: 767.98px) {
	.comments__cards {
		column-gap: 0;
		row-gap: 20px;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.comments__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 100%;
	width: 400px;
	row-gap: 28px;
	padding-block: 53.01px;
	padding-inline: 20px;
	box-shadow: 0px 10px 40px rgba(241, 102, 24, 0.15);
	border-radius: 15px;
}

@media screen and (max-width: 767.98px) {
	.comments__item {
		width: 100%;
	}
}

.comments__subtitle {
	font-weight: 600;
	font-size: clamp(15px, 1.666666vw, 36px);
	color: var(--black);
}

.comments__text {
	margin-inline: 25px;
	font-size: clamp(12px, 1.25vw, 24px);
}

.rating {
	overflow: hidden;
}

.rating:not(:checked) > input {
	display: none;
}

.rating:not(:checked) > label {
	float: right;
	width: clamp(22px, 1.874305vw, 30px);
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 1;
	color: #D0CFD4;
}

.rating__label:not(:first-child) {
	margin-right: 0.277777vw;
}

.rating:not(:checked)>label::before {
	content: '★';
}

.rating > input:checked ~ label {
	color: #FFC042;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: #FFC042;
}

.rating > input:checked + label:hover,
.rating>input:checked+label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
	color: #FFC042;
}

.rating > label:active {
	position: relative;
}

.comments__author {
	font-weight: 500;
	font-size: clamp(10px, 1.041666vw, 18px);
	color: var(--black);
}